<footer class="footer">
    <div class="footer-content">
        <div class="footer-content-first-part">
            <div class="footer-content-first-part__logo">
                <app-logo></app-logo>
            </div>
            <div class="footer-content-first-part__address">
                Київ, Проспект Правди, 64а
            </div>
        </div>
        <div class="footer-content-second-part">
            <div class="footer-content-second-part__working-hours-title">
                Робочі години
            </div>
            <div class="footer-content-second-part__working-hours-line">
                Будні дні: з 9 до 14
            </div>
            <div class="footer-content-second-part__working-hours-line">
                Субота: під запис
            </div>
            <div class="footer-content-second-part__working-hours-line">
                Неділя вихідний
            </div>
        </div>
        <div class="footer-content-third-part">
            <div class="footer-content-third-part__call-us">
                Зателефонуйте нам
            </div>
            <div class="footer-content-third-part__call-us-phone">
                +38 (096) 321-88-88
            </div>
            <div class="footer-content-third-part__call-us-phone">
                +38 (063) 189-18-88
            </div>
            <div class="footer-content-third-part__call-us-phone">
                +38 (095) 883-28-28
            </div>
        </div>
        <div class="footer-content-fourth-part">
            <div class="footer-content-fourth-part__social">
                <img src="assets/images/icons/facebook.png">
                <img src="assets/images/icons/telegram.png">
            </div>
        </div>
    </div>
    <div class="footer-content-bottom">
        <div class="footer-content-bottom__line copyright">
            2015-2021 © Клініка для всієї родини. Кабінет УЗД
        </div>
        <div class="footer-content-bottom__line agreement">
            Публічний договір
        </div>
    </div>
</footer>