.contacts {
    padding: 0 0 40px 0; 
    width: 1000px;
}

.parent {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1060px) {
    .contacts {
        width: 90%;
    }
}
