<div class="working-place">
    <div class="title">
        {{clinic?.title}}
    </div>
    <div class="details">
        <div class="left-side">
            <div class="working-time">
                <div class="subtitle">
                    {{clinic?.title}} працює:
                </div>
                <div class="working-time-first basic-text">
                    {{clinic?.workingTime1}}
                </div>
                <div class="working-time-second basic-text">
                    {{clinic?.workingTime2}}
                </div>
            </div>
            <div class="contact-numbers">
                <div class="subtitle">
                    Контактні номери телефонів
                </div>
                <div *ngFor="let number of clinic?.phoneNumbers" class="contact-number basic-text">
                    {{ number }}
                </div>
            </div>
            <div class="contact-name subtitle">
                {{clinic?.contactorName}}
            </div>
        </div>
        <div class="right-side">
            <div class="subtitle">
                Розташування
            </div>
            <div class="address basic-text">
                {{clinic?.address}}
            </div>
            <div class="map">
                <iframe style="border:0" loading="lazy" [src]="sanitize(clinic.map)" width="590" height="400" frameborder="0" style="border: 0px; width: 590px;" allowfullscreen=""></iframe>
            </div>
            <div class="medium-map">
                <iframe style="border:0" loading="lazy" [src]="sanitize(clinic.map)" width="450" height="300" frameborder="0" style="border: 0px; width: 450px;" allowfullscreen=""></iframe>
            </div>
            <div class="small-map">
                <iframe style="border:0" loading="lazy" [src]="sanitize(clinic.map)" width="350" height="260" frameborder="0" style="border: 0px; width: 350px;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>