<div class="center-image">
    <div class="center-dummy">
        <div class="center-text">
            <div class="center-text-left">
                <div class="center-text-left-title">
                    Послуги, що надає
                </div>
                <div class="center-text-left-description">
                    «Клініка для всієї родини»
                </div>
            </div>
            <div class="center-text-right">
                <ul>
                    <li class="center-text-right-item">Прийом аналізів</li>
                    <li class="center-text-right-item">УЗ дiагностика</li>
                    <li class="center-text-right-item">Консультація спеціалістів</li>
                </ul>
            </div>
        </div>
    </div>
</div>