<div class="center-image">
    <div class="center-dummy">
        <div class="center-text">
            <div class="center-text-left">
                <div class="center-text-left-title">
                    Послуги, що надає
                </div>
                <div class="center-text-left-description">
                    «Клініка для всієї родини»
                </div>
            </div>
            <div class="center-text-right">
                <ul>
                    <li class="center-text-right-item">консультація невролога</li>
                    <li class="center-text-right-item">консультація кардiолога</li>
                    <li class="center-text-right-item">консультація гініколога</li>
                    <li class="center-text-right-item">консультація уролога</li>
                    <li class="center-text-right-item">консультація хірурга</li>
                    <li class="center-text-right-item">консультація гастроентеролога</li>
                    <li class="center-text-right-item">консультація педіатра</li>
                    <li class="center-text-right-item">прийом аналізів</li>
                    <li class="center-text-right-item">узд дiагностика</li>
                </ul>
            </div>
        </div>
    </div>
</div>