.center-image {
    width: 100%;
    height: 33vw;
    background: no-repeat url("./../../../assets/images/home-page/center-image.png");
    background-position-y: bottom;
    background-size: cover;
    .center-dummy {
        width: 100%;
        height: 33vw;
        background: no-repeat url("./../../../assets/images/home-page/center-dummy.png");
        background-size: cover;
        .center-text {
            display: flex;
            &-left {
                padding: 6%;
                padding-left: 10%;
                width: 60%;
                font-weight: 500;
                font-size: 2rem;
                line-height: 44px;
                &-title {
                    color: #116aee;
                }
                &-description {
                }
            }
            &-right {
                padding: 6%;
                width: 40%;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 39px;
                &-item {
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .center-image {
        height: 450px;
        .center-dummy {
            height: 450px;
        }
    }
}

@media screen and (max-width: 995px) {
    .center-text-right {
        line-height: 30px !important;
        font-size: 1.4rem;
        padding: 0 0 0 12% !important;
        width: 100% !important;
    }
    .center-text-left {
        line-height: 35px !important;
        font-size: 1.6rem;
        width: 100% !important;

    }
    .center-text {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .center-image {
        background-position-x: center;
    }
}