.service-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 760px;
    padding: 40px 0 40px 0; 
}

.parent {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {
    .service-list {
        width: 503px !important;
    }
}

@media screen and (max-width: 610px) {
    .service-list {
        width: 350px !important;
    }
}